html
  head
    title #{titol}
    link(rel='stylesheet', href='./style.css')
  body
    form(method="post" class="form" action="/borrar_usuari")
      | Nom usuari: 
      input(id="nomUsuari", name="nomUsuari", placeholder="Pepito123", type="text")

      input(
        id="botoEnvia"
        class="btn" 
        type="submit"
        value="Borrar usuari"
      )